* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  width: 100vw;
  background-color: rgb(248, 192, 192);
}

.header,
footer {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
  align-items: center;
}
.company {
  width: 100vw;
  border: 1px solid black;
  padding: 0.5rem;
}
.company-info {
  border: 1px solid black;
  height: 35vh;
}
.clients {
  width: 100vw;
  border: 1px solid black;
  padding: 0.5rem;
}
.clients-info {
  width: 15%;
  border: 1px solid black;
  height: 10vh;
  margin: 0 0.5rem;
}
